<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="style/home.css">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div class="divhome"><h1>Home Page</h1>
    <h2><a href="/about">about</a></h2>
    <button class="btnHome">click</button>
    <h3>footer</h3></div>
<script src="scrip/node.js"></script>
</body>
</html>